
.pading_block {
    padding-bottom: 8px;
    border-top: 1px #dbdbda solid;
    border-bottom: 1px #dbdbda solid;
    min-height: 60px;
    padding-top: 5px;
    font-size: 14px;
    font-family: 'open_sansregular';
}
.pading_block .icon_sprite{
    background-position: -69px -5px;
}

.block_text {
    display: block;
    margin: 0;
}

.pading_block:first-child, .pading_block:last-child {
    border: none;
}

.spisok_content {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}
.icon_sprite {
    height: 55px;
    width: 54px;
    float: left;
    background: url("../img/spritesheet%20(2).png") no-repeat;
    padding-bottom: 5px;
}

.obrazovanie1 {
    padding-bottom: 8px;
    border-top: 1px #dbdbda solid;
    border-bottom: 1px #dbdbda solid;
    min-height: 60px;
    padding-top: 5px;
    font-size: 14px;
    font-family: 'open_sansregular';
}
.obrazovanie1 .icon_sprite{
    background-position: -133px -5px;
}

.obrazovanie1:first-child, .obrazovanie1:last-child {
    border: none;
}

.obrazovanie1 > p:first-child {
    padding-top: 25px;
}

.obrazovanie1 > p {
    padding-left: 70px;

}

.obrazovanie2 {
    padding-bottom: 8px;
    border-top: 1px #dbdbda solid;
    border-bottom: 1px #dbdbda solid;
    min-height: 60px;
    padding-top: 5px;
    font-size: 14px;
    font-family: 'open_sansregular';
}
.obrazovanie2 .icon_sprite{
    background-position: -5px -5px;
}

.obrazovanie2:first-child, .obrazovanie2:last-child {
    border: none;
}

.obrazovanie2 > p:first-child {
    padding-top: 25px;
}

.obrazovanie2 > p {
    padding-left: 70px;

}

.obrazovanie3 {
    padding-bottom: 8px;
    border-top: 1px #dbdbda solid;
    border-bottom: 1px #dbdbda solid;
    min-height: 60px;
    padding-top: 5px;
    font-size: 14px;
    font-family: 'open_sansregular';
}
.obrazovanie3 .icon_sprite{
    background-position: -5px -70px;
}

.obrazovanie3:first-child, .obrazovanie3:last-child {
    border: none;
}

.obrazovanie3 > p:first-child {
    padding-top: 25px;
}

.obrazovanie3 > p {
    padding-left: 70px;
}

.foto {
    height: 130px;
    width: 130px;
    border-radius: 50% 50%;
    overflow: hidden;
    border: 10px solid #f3f2f1;
    box-shadow: 0 0 0 2px #cdcccb;
}

.foto_block {
    height: 130px;
    width: 130px;
    float: left;
    padding: 40px;
}

.block_text1 {
    padding-top: 27px;
    padding-left: 10px;
    overflow: hidden;
}
.key_skills{
    float: left;
}
.skills{
    width: 300px;
    padding-left: 110px;

}
.skills_block li{
    display: inline;
}

.text_kontent {
    margin: 5px;

}

.pading_block > p:first-child {
    padding-top: 25px;
}

.pading_block > p {
    padding-left: 70px;
}
.font{
    font-size: 14px;
    font-family: 'open_sanssemibold';
}