
.pading_block {

    background: url(../img/case1-.png) no-repeat;
    background-position: left center;
    background-repeat: no-repeat;
    padding-bottom: 8px;
    border-top: 3px #dbdbda solid;
    border-bottom: 3px #dbdbda solid;
}

.block_text {
    display: block;
}

.pading_block:first-child, .pading_block:last-child {
    border: none;
}

.spisok_content {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
}

.block_text {

    margin: 0;

}

.obrazovanie1 {
    background: url(../img/school1-.png) no-repeat;
    background-position: left center;
    background-repeat: no-repeat;
    padding-bottom: 8px;
    border-top: 3px #dbdbda solid;
    border-bottom: 3px #dbdbda solid;
}

.obrazovanie1:first-child, .obrazovanie1:last-child {
    border: none;
}

.obrazovanie1 > p:first-child {
    padding-top: 25px;
}

.obrazovanie1 > p {
    padding-left: 70px;

}

.obrazovanie2 {
    background: url(../img/Graguete1-.png) no-repeat;
    background-position: left center;
    background-repeat: no-repeat;
    padding-bottom: 8px;
    border-top: 3px #dbdbda solid;
    border-bottom: 3px #dbdbda solid;
}

.obrazovanie2:first-child, .obrazovanie2:last-child {
    border: none;
}

.obrazovanie2 > p:first-child {
    padding-top: 25px;
}

.obrazovanie2 > p {
    padding-left: 70px;

}

.obrazovanie3 {
    background: url(../img/diploma2-.png) no-repeat;
    background-position: left center;
    background-repeat: no-repeat;
    padding-bottom: 8px;
    border-top: 3px #dbdbda solid;
    border-bottom: 3px #dbdbda solid;
}

.obrazovanie3:first-child, .obrazovanie3:last-child {
    border: none;
}

.obrazovanie3 > p:first-child {
    padding-top: 25px;
}

.obrazovanie3 > p {
    padding-left: 70px;
}

.foto {
    height: 150px;
    width: 150px;
    border-radius: 50% 50%;
    overflow: hidden;
    border: 10px solid #f3f2f1;
    box-shadow: 0 0 0 2px #cdcccb;
}

.foto_block {
    height: 180px;
    width: 180px;
    float: left;
    padding: 20px;
}

.block_text1 {
    padding-top: 20px;
}

.text_kontent {
    margin: 5px;

}

.pading_block > p:first-child {
    padding-top: 25px;
}

.pading_block > p {
    padding-left: 70px;
}