
doctype html
html(lang='ru-RU')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta( name="viewport" content="width=device-width  initial-scale=1  maximum-scale=1")
        title Обо мне
        link(rel='icon', href='favicon.ico')
        // CSS
        link(rel='stylesheet', href='bower/normalize-css/normalize.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/mainobwii.css')
        link(rel='stylesheet', href='css/main3.css')
        link(rel='stylesheet', href='css/main2.css')
        link(rel='stylesheet',href='css/exit.css')
        link(rel='stylesheet',href='css/pad_main.css')
        link(rel='stylesheet',href='css/cell_main.css')
    body
        .wrapper
            .container
                .header_exit
                    h3 Авторизуйтесь
                .form_autorization
                    form.form_exit(action="#")
                        .input-group
                            input.mail-exit(type="email" placeholder="Введите email" name="email")
                            .error-block-right.error-block введите email
                        .input-group
                            input.password-exit(type="password" placeholder="Введите пароль" name="password")
                            .error-block-right.error-block введите пароль
                        .input-group
                            input.checkbox-exit#checkbox-exit(type="checkbox")
                            label.label-checkbox(for="checkbox-exit" name="remember_me") Запомнить меня?
                            .autorization-submit-wrapper
                            button.submit.style(type="submit" ) Войти
        footer.footer
            .cont_footer
                .locked
                span.exit Вход
                span.prava
                    | ©2015. Это мой сайт,пожалуйста,не копируйте и не воруйте его!
        script(src='bower/jquery/jquery.min.js')
        script.
            window.jQuery || document.write('script (src="bower/jquery/jquery.js")' + '\\/script')
        script(src='bower/jquery/jquery.js')
        script(src='./js/popup.js')
        script(src='js/main.js')